<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var chartData = 
  {
    labels: [{% for item in labels %}
                "{{item}}",
              {% endfor %}],

  datasets: [{% for dataset in datasets %}
    {
      label: '{{dataset.legend}}',
      backgroundColor: '{{dataset.background_color}}',
      borderColor: '{{dataset.border_color}}',
      data: {{dataset.data}},
      fill: false
    },
    {% endfor %}]
  }

  var options = {
    title: {
            display: true,
            fontSize: 16,
            text: "{{title}}"
        }, 
    scales: {
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: "{{ yaxis }}"
        }
      }],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: "{{ xaxis }}"
        }
      }],
    }
  }
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: chartData,

    // Configuration options go here
    options: options
  });

</script>